{% extends 'layout_boxed.html.twig' %}

{% block content %}

<p>{{ highlander.say | first}}</p>

<p> Lorem ipsum is een opvultekst die drukkers, zetters, grafisch ontwerpers en dergelijken gebruiken. </p>
<p> om te kijken hoe een opmaak er grafisch uitziet. </p>
<p> De eerste woorden van de tekst luiden doorgaans. </p>
{% endblock %}